@import url('https://fonts.googleapis.com/css?family=Open+Sans:700');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond');

@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap') repeat scroll 0 0 rgba(0, 0, 0 , 0);

.background
{
  
body {
  background: #fff;
}

.title {
  font-size: 2.5rem;
  font-family: 'Lobster', cursive;
}

.wrapper {
  animation: scroll 70s linear infinite;
  background: url("https://lh3.googleusercontent.com/kSa_S6jvBskiL0FZUogtw-JuQktRTWOvIezBstVtNP-coW0cGyzKy25RPRzbBIl5xMjIw-ZXHxz4RoHCdzm9sfzXHt9PJnI1XoOZYMWXAnFuTa3Od8q8JaOFVEztw8TPgR48J32PdLHAr0EgyrA6HdbNUddmjp9yGddOh_0BBfUEUHx7tivfW_M_pOfcZRwBtD3QFsJ3sWw50Jyf7s4uS5ZI8RcR6oLz1SWB9N41MOFhwUZv4rZ6zjN99-jFCt8FTlwretqZKZ1VVhDHD2UPpQlGwsfXGiek4AGNfGn48ZayVc6qoIJOKLqbbaY97U-bG30QrMQTcEzJ0TwBpbcPl3luOCrcmBxK51asNqO7SJJd1a3JXJ4rqogpmsp7c3PkGkLKgL7i89rfORiuQTwh1pa7G_5QYBDBHcSuR6hXQgrCsgiOU80bEX4JmmYpMkJPY0PHEUy8RQCsAkiociaVQh5pdLz9Cl-5mCRFh0nXGcd2-ZNOaDpN_lsDvywHxAlSk1tQgz8yQ3WdJlmizrobmFyXkB2Rb5h5uRFMvNZyZZPqbKvwFTX_5U7LcsU9KWxZXpE1bNgqEEXC0vUp5OhrSn_I6u7UlaJ8YrPbIJzfAFSZMh43Cm9XIz65368Mwpk_QTEHf4CIo0WkvjLli3weOMmK3Z4Je5TNAgV4EaDoBRQwsBcONSzL8jEUZolZ53WCky5oDCSMUP0a-q1ueZqN2QNP_2DAMSsR6nWA4SxSutNXobhETgglKFNKhUyxyZrfBEUus5v-utBtNeMr1Qbhl9FNK_7v10eckAitWmBb7ArBNv7whFD20C3MvFb5b54SzW-GNA4pwa0xwJ6NZ_rA75_GWF2o_W8x-mUTRTqcdT_LMphR3FmM5xSR6AhMoN1ypg4gHH_4np-ogBnLEJIkBWr6dkXePSlOMQfLW-1uwFIc6jZdMlwKD9MjowdSz4nL2WRTj3Uk4OAwWWeRx-QKsFpZmVeWfvHMm2cxNdWnrg7U5YP9nHvvRg0qmPmJzYzacH4pH33eO8YqUXPds3pZuFCvdxdCIFhJcCQnBVeqqwNZCvUnIq5WxXo_PCV-VypY=w1064-h798-s-no?authuser=3"), #111111;
  color: #eee;
  height: 100vh;
  min-width: 360px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  perspective-origin: 50% 50%;
  
}

@keyframes scroll {
   100%{
    background-position:0px -3000px;
  }
}

@media (prefers-reduced-motion) {
  .wrapper {
    animation: scroll 200s linear infinite;
  }
}

@media (min-width: 670px) {
  .title {
    font-size: 5rem;
  }
}
}


html{
  background-color: #2D2E2E;
}

body{
  padding: 0em;
  margin: 0em;
  font-family: 'times', serif;
  font-size: 22px;
  font-weight: normal;
  line-height: 21px;
  color: #DAFEEA;
  background-color: #2D2E2E;
}

h1, h2, h3{
  font-family: 'times', serif;
}

h1{
  text-transform: uppercase;
  font-weight: 900;
  font-size: 54px;
  text-align: left;
  color: 	#DAFEEA;
  padding: 0em;
  margin-bottom: 2em;

}

h3{
  text-transform: uppercase;
  font-weight: bold;
  padding-top: 1.5em;
}

h4{
  font-weight: bold;
}

.list{
  padding: 3em 8em;
  animation: fadein 2s;
  position: relative;
  z-index: 0;
}

a:link {
  color: #2D2E2E;
  background-color: #DAFEEA;
  text-decoration: none;
  line-height: 21px;
}

a:visited {
  color: 	#2D2E2E;
  background-color: #DAFEEA;
  text-decoration: none;
  line-height: 21px;
}

a:hover {
  color: #2D2E2E;
  background-color: #2D2E2E;
  text-decoration: none;
  line-height: 21px;
}

.bio{
  padding: 1.8em 0em 3em 2em;
  text-align: justify;
  float: left;
  width: 40vw;
  z-index: 99999;
  position: relative;
}

.bioTitle{
  display: none;
}

.contact{
  text-align: center;
  margin-bottom: 3em;
}
.contact h3{
  font-size: 1.8em;
}

.contact a{
  text-decoration: underline;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media only screen and (max-device-width: 480px) {

        h1{
          margin-right: -0.7em;
          padding-bottom: 0.4em;
        }
        h1.name{
          text-align: center;
          margin: 2em 0 0 0;
          padding: 0;
          font-size: 2em;
        }
        .list{
          padding: 3em 3em 3em 3em;
          position: absolute;
        }
        .bio{
          padding: 1em 0;
          float: none;
          text-align: left;
          width: 100%;
          margin: 0 auto;
        }

        .bioTitle{
          display: block;
        }
    }

.disable-select {
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
}
